:root{
  --font-family-type: 'Twinkle Star', cursive;
  --color-blue: #61DAFA;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: var(--font-family-type);
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
